<div id="indexContainer" %>
    <div id="carIndexContainer">
        <div id="headerHire">
            <%= link_to 'Back', :back, class: "backButtons" %>
                <h3> My hire car </h3>
        </div>

        <% user = User.find(session[:user_id])%>

            <% @car.each do |cars| %>

                <% if cars.renter_id == user.renter_id %>

                    <div class="vehicleIndexHire1">
                        <table id="carIndexTable1">
                            <tr>
                                <td rowspan="4">
                                    <%= image_tag cars.img_url.url || 'm4.jpg', :size => "270x210" %>
                                </td>
                                <td>
                                    <%= image_tag 'Car.png', :size => "50x50" %>
                                </td>

                                <td>
                                    <%= image_tag 'House.png', :size => "50x50" %>
                                </td>
                                <td>
                                    <%= image_tag 'Fuel.png', :size => "50x50" %>
                                </td>

                                <td>
                                    <%= image_tag 'Colour.png', :size => "50x50" %>
                                </td>
                                <td>
                                    <b>Your Hire start date </b>
                                </td>
                                <td>
                                    <b>Collection address: </b>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <%= cars.manufacturer %>
                                            <%= cars.model %>
                                    </p>
                                </td>

                                <td>
                                    <p>
                                        <%= cars.postcode %>
                                    </p>
                                </td>

                                <td>
                                    <p>
                                        <%= cars.fuel %>
                                    </p>
                                </td>

                                <td>
                                    <p>
                                        <%= cars.colour %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= cars.hirestart.strftime("%I:%M  |  %F") %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= cars.pickup %>
                                            <%= cars.postcode %>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <%= image_tag 'Engine.png', :size => "50x50" %>
                                </td>

                                <td>
                                    <%= image_tag 'Year.png', :size => "50x50" %>
                                </td>

                                <td>
                                    <%= image_tag 'Price.png', :size => "50x50" %>
                                </td>

                                <td>
                                    <%= image_tag 'Review.png', :size => "50x50" %>
                                </td>
                                <td><b>Off hire date </b>
                                </td>
                                <td>
                                    <b> Lister's contact info</b>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <%= cars.engine %> Litres </p>
                                </td>

                                <td>
                                    <p>
                                        <%= cars.year %>
                                    </p>
                                </td>

                                <td>
                                    <p>24hr Price: £
                                        <%= cars.price %>
                                    </p>
                                </td>

                                <td>
                                    <p>Review: </p>
                                </td>
                                <td>
                                    <p>
                                        <%= cars.hirefinish.strftime("%I:%M  |  %F") %>
                                    </p>
                                </td>
                                <td>
                                    <% @user = User.find(cars.user_id) %>
                                        <%= @user.email %> |
                                            0<%= @user.mobile %>
                                </td>

                            </tr>
                            <td>

                            </td>

                        </table>
                        <div class=''>
                            <%= link_to 'Add Review',
                         { controller: 'reviews', action: 'new', id: cars.id },{class: "button-to"} %>
                        </div>
                    </div>

                    <% end %>
                        <% end %>

    </div>
</div>