<div id="indexContainer" %>
    <div id="carIndexContainer">

        <div id="headerHire">

            <h1> <%= link_to '<< Back', cars_path, class: "backButtons" %><%= @car.manufacturer %> <%= @car.model %></h1>

        </div>

        <div id="showFlash" %>
            <h2>
    <% flash.each do |name, msg| %>
         <ul>
            <li> <%= msg %></li>
         </ul>
         <%end%>
         <%= yield %>
      </h2>
        </div>
        <div class="vehicleIndexHire1">
            <table id="carIndexTable">
                <tr>
                    <td rowspan="4">
                        <%= image_tag @car.img_url.url || 'm4.jpg', :size => "270x210" %>
                    </td>
                    <td>
                        <%= image_tag 'Car.png', :size => "50x50" %>
                    </td>

                    <td>
                        <%= image_tag 'House.png', :size => "50x50" %>
                    </td>
                    <td>
                        <%= image_tag 'Fuel.png', :size => "50x50" %>
                    </td>

                    <td>
                        <%= image_tag 'Gears.png', :size => "50x50" %>
                    </td>
                    <td>
                        <%= image_tag @car.user.img_url.url || 'unknown.png', :size => "100x70" %>
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>
                            <%= @car.manufacturer %>
                                <%= @car.model %>
                        </p>
                    </td>

                    <td>
                        <p>
                            <%= @car.postcode %>
                        </p>
                    </td>

                    <td>
                        <p>
                            <%= @car.fuel %>
                                <p> (Always full tank) </p>
                    </td>

                    <td>
                        <p>
                            <%= @car.transmission %>
                        </p>
                    </td>
                    <% user = @car.user %>
                        <td>
                            <%= link_to 'Visit Owners Profile', user %>
                        </td>

                </tr>
                <tr>
                    <td>
                        <%= image_tag 'Engine.png', :size => "50x50" %>
                    </td>

                    <td>
                        <%= image_tag 'Year.png', :size => "50x50" %>
                    </td>

                    <td>
                        <%= image_tag 'Price.png', :size => "50x50" %>
                    </td>

                    <td>
                        <%= image_tag 'Passenger.png', :size => "50x50" %>
                    </td>
                    </td>
                    <td rowspan="2">
                        <h4> Owner's notes:</h4>
                        <p>
                            <%= @car.description%>
                        </p>
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>
                            <%= @car.engine %> Litres </p>
                    </td>

                    <td>
                        <p>
                            <%= @car.year %>
                        </p>
                    </td>

                    <td>
                        <p>24hr Price: £
                            <%= @car.price %>
                        </p>
                    </td>

                    <td>
                        <p>
                            <%= @car.passengers %>
                        </p>
                    </td>

                </tr> 
                <td>
                    <% if logged_in? %>
                        <% @user = User.find(session[:user_id]) %>
                            <% if @user.renter_id == 0 %>

                                <% if @car.user_id == @user.id%>

                                    <% else %>
                                        <div class="bookButton">
                                            <%= link_to 'Hire', {controller: 'cars', action: 'rent', id: @car.id} %>
                                        </div>
                                        <% if @car.renter_id == @user.id %>
                                            <div class="bookButton">
                                                <%= link_to 'Add Review',
                                                     controller: 'reviews', action: 'new', id: @car.id  %>
                                            </div>
                                            <% end %>
                                                <% end %>

                                                    <div class="bookButton">
                                                        <%= link_to 'See Reviews',
                                                                {controller: 'reviews', action: 'displays', id: @car.id },{class: "button-to"} %>
                                                    </div>

                                                    <% else %>
                                                        <p> Please unhire your current vehicle to hire this vehicle </p>
                                                        <% end %>

                                                            <% if @car.user_id == session[:user_id] %>
                                                                <%= link_to 'Remove Listing', controller: 'cars', action: 'deactive', id: @car.id, :class => 'bookButton' %>
                                                                    </br>
                                                                    <% if logged_in? %>
                                                                        <%= link_to "Edit Vehicle", edit_car_path(@car) %>
                                                                            <% end %>
                                                                                <% end %>
                                                                                    <% end %>
                </td>

            </table>

        </div>

    </div>
</div>