<div class='centre-content'>
    <%= form_for(@review) do |f| %>

        <div class="main-title">New Review for car ID "
            <%= @review.car_id %>
                <%= @review.name %>"</div>
        <%= f.hidden_field :car_id %>
            <%= f.hidden_field :name %>
                <br />

                <div class="field">
                    <%= f.label :review_text, "Please write your Review here :- " %>
                        <br />
                        <%= f.text_area :review_text, :autofocus => true, :rows=> 12, :cols=> 40  %>
                </div>

                <div class="field">
                    <%= f.label :no_of_stars, "Please 'star rate' (1-5)" %>
                        <br />
                        <%= f.radio_button(:no_of_stars, "1", :checked => true) %>
                            <%= f.radio_button :no_of_stars, '2' %>
                                <%= f.radio_button(:no_of_stars, "3") %>
                                    <%= f.radio_button(:no_of_stars, "4") %>
                                        <%= f.radio_button(:no_of_stars, "5") %>
                </div>

                <div class="actions">
                    <%= f.submit "Add Review"%>
                </div>
                <% end %>
</div>